.container{
    max-height: 1000px;
    overflow: hidden;
    max-width: 100%;
}

.header{
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}

.logo{
    border-radius: 50%;
    width: 10%;
}

.bg_iamge{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 90%;
}

.section{
    width: 30%;
    margin: 0 auto;
    position: absolute;
    bottom: 20px;
    left: 5%;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 40%);
    padding: 15px;
}

.toast{
    width: 15%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 255, 0, 40%);
    color: #fff;
    padding: 10px;
    font-size: 18px;
    visibility: hidden;
}